apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-edwhemkq
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-edwhemkq:ed50e3d1e6d73ad24d6cdfc8c418bcfee7bbb48e@sha256:b68f70337c11eb119e9413b7b37a9d43a8a73dbe6646937181f56ada7740c638
          name: container-image
